body, html{
  margin: 0;
  padding: 0%;
  background-color: #ededed;
  font-family: "EB Garamond", sans-serif;
  /* background-color: #EDEDED;
  hsl(198, 66%, 70%); */
}

#main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #722f37;
  border-bottom: #722f37 solid;
}
#main-header p, #main-header i{
  margin: 14px 9px;
  text-decoration: none;
  color: #ffffff;
}
#main-text, h1{
  text-align: center;
  text-justify: auto;
  line-height: 1.2em;
  color: #000000;
  
  font-family: "EB Garamond";
}
#main-nav{
  display: flex;
  justify-content: space-evenly;
}
#main-nav i, a{
  color: #000000;
  text-decoration: none;
}
#main-article{
  width: 85%;
  margin: auto;
}

h1{
  margin-top: 30vh;
  text-align: center;
  color: #000000;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  /*color: #ededed;*/
}

@media(min-width: 600px){
  h1{
    margin-top: 25vh;
    font-size: 2.5rem;
  }
  #main-header p, #main-header i{
    padding: 9px 9px;
  }
  #main-header p{
    font-size: 1.2rem;
  }
}
